.link {
	outline: none;
	text-decoration: none;
	position: fixed;
	font-size: 4em;
  line-height: 1;
  /* padding: 20px; */
	color: #9e9ba4;
  display: inline-block;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transform: translate(-50%, -100%);
  font-family: Futura, "futura-pt", Arial;
  top:50%;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  /* padding: 50px; */
  left:50%;
}

.link--kukuri {
	position: fixed;
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #fff;
}

.link--kukuri:hover {
	color: #fff;
}

.link--kukuri::after {
	content: '';
	position: fixed;
	height: 16px;
	width: 100%;
  top: 50%;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
	transform: translate3d(100%,0,0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: fixed;
	z-index: 2;
	overflow: hidden;
	color: #003366;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}


#callToActionBtn{
  font-family: Futura, "futura-pt", Arial;
  position: fixed;
  width: 50%;
  height: auto;
  display: block;
  top:65%;
  left: 0;
  right: 0;
  margin: auto;
}


#body-background{
  background-color: #8dd8f8;
}

#floor {
  position: fixed;
  background-color: #178fff;
  height: 45%;
  top:55%;
  width: 100%;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;

}


#nhiptim{
  position: fixed;
  width: 10%;
  height: auto;
  display: block;
  top:50%;
  left: 25%;
  transform: translate(-50%, -50%);
  
}



#khachhang{
  position: fixed;
  width: 45%;
  height: auto;
  display: block;
  bottom: 0;
  right: 0;
  /* top:60%;
  left: 75%;
  transform: translate(-50%, -50%); */
  
}


#khachhang_dust{
  position: fixed;
  width: 45%;
  height: auto;
  display: block;
  bottom: 0;
  right: 0;
  /* top:60%;
  left: 75%;
  transform: translate(-50%, -50%); */
  
}


#bluesichter{
  position: fixed;
  width: 45%;
  height: auto;
  display: block;
  bottom: 0;
  right: 0;
  /* top:60%;
  left: 75%;
  transform: translate(-50%, -50%); */
  
}

.thoai {
  position: fixed;
  width: 45%;
  height: auto;
  display: block;
  bottom: 0;
  right: 0;
  /* top:60%;
  left: 75%;
  transform: translate(-50%, -50%); */
}

#thoai_khachhang_1{
  position: fixed;
  width: 45%;
  height: auto;
  display: block;
  bottom: 0;
  right: 0;
  /* top:60%;
  left: 75%;
  transform: translate(-50%, -50%); */
  
}



#thoai_khachhang_2{
  position: fixed;
  width: 45%;
  height: auto;
  display: block;
  bottom: 0;
  right: 0;
  /* top:60%;
  left: 75%;
  transform: translate(-50%, -50%); */
  
}

#doctor_machine{
  position: fixed;
  width: 20%;
  height: auto;
  display: block;
  top:60%;
  left: 10%;
  transform: translate(0%, 0%);
  
}





#lamp {
  position: fixed;
  width: 15%;
  height: auto;
  display: block;
  top:25%;
  left: 25%;
  transform: translate(-50%, -100%) rotate(-45deg);

  
}


#light {
  position: fixed;
  width: 15%;
  height: auto;
  display: block;
  top:25%;
  left: 25%;
  transform: translate(-50%, -100%) rotate(-35deg);

  
}

#shoe {
  position: fixed;
  width: 20%;
  height: auto;
  display: block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -100%);

  
}


#shoe_after {
  position: fixed;
  width: 20%;
  height: auto;
  display: block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -100%);

  
}



#khachhang_holdingbag {
  position: fixed;
  width: 60%;
  height: auto;
  display: block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -58.3%);

  
}


#bag {
  position: fixed;
  width: 60%;
  height: auto;
  display: block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -58.3%);

  
}


#soap_machine {
  position: fixed;
  width: 25%;
  height: auto;
  display: block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -100%);

  
}



#clean_machine {
  position: fixed;
  width: 20%;
  height: auto;
  display: block;
  top:40%;
  left: 50%;
  transform: translate(-50%, -100%);

  
}

#card {
  position: fixed;
  width: 30%;
  height: auto;
  display: block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#phone {
  position: fixed;
  width: 28%;
  height: auto;
  display: block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#phone2 {
  position: fixed;
  width: 28%;
  height: auto;
  display: block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#clean_laser {
  position: fixed;
  width: 20%;
  height: auto;
  display: block;
  top:40%;
  left: 50%;
  transform: translate(-50%, -100%);

  
}

#table {

  position: fixed;
  width: 30%;
  height: auto;
  display: block;
  top:50%;
  left: -200%;
  transform: translate(-50%, -1%);

}


@media screen and (max-width: 600px) {


  .link {
   
    font-size: 2em;
    
  }


#khachhang{
  width: 65%;
}


#khachhang_dust{
  width: 65%;
  
}


#bluesichter{
  width: 65%;
  
}

.thoai {
  width: 65%;
}

#thoai_khachhang_1{
  width: 65%;
  
}



#thoai_khachhang_2{
  
  width: 65%;

  
}


  #lamp, #light {
   width: 20%;
   
    top:10%;
    left:10%;
  }
  
  #phone {
    top:40%;
    width:50%;
  }
  #card {
    width:50%;
  }

  #phone2 {
    top:40%;
    width:50%;
  }
  #doctor_machine {
    top:80%;
    width:30%;
  }
  #khachhang_holdingbag, #bag {
    width: 150%;
  }
  #shoe, #shoe_after {
    /* position: fixed; */
    width: 50%;
    /* height: auto; */
    /* display: block; */
    /* top:50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -100%);   */
  }

  #clean_machine, #soap_machine, #clean_laser {
    width: 50%;
  }

  #nhiptim{
    width: 20%;
    top: 60%;
  }
  
  #table {
  
    /* position: fixed; */
    width: 50%;
    /* height: auto; */
    /* display: block; */
    /* top:50%; */
    /* left: -200%; */
    /* transform: translate(-50%, -1%); */
  
  }
  

}



.spacer {
	text-align: center;
	min-height: 100px;
}
.spacer.s0 {
	min-height: 1px;
}
.spacer.s1 {
	min-height: 100px;
}
.spacer.s2 {
	min-height: 200px;
}
.spacer.s3 {
	min-height: 300px;
}
.spacer.s4 {
	min-height: 400px;
}
.spacer.s5 {
	min-height: 500px;
}
.spacer.s6 {
	min-height: 600px;
}
.spacer.s7 {
	min-height: 700px;
}
.spacer.s8 {
	min-height: 800px;
}
.spacer.s9 {
	min-height: 900px;
}
.spacer.s10 {
	min-height: 1000px;
}
.spacer.s_viewport {
	min-height: 100%;
}


.spacer.s_viewport_begin {
	min-height: 50%;
}

.spacer.s_viewport_half {
	min-height: 50%;
}


.spacer.s_viewport_45 {
	min-height: 45%;
}


.spacer.s_viewport_quater {
	min-height: 25%;
}



.spacer.s_viewport_forth {
	min-height: 40%;
}

.spacer.s_viewport_ten {
	min-height: 10%;
}

.spacer.s_viewport_five {
	min-height: 5%;
}


.spacer.s_viewport_six {
	min-height: 6%;
}


.spacer.s_viewport_two {
	min-height: 2%;
}