video {
	position: fixed !important;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	z-index: -1000;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	--color-text: #fff;
	--color-bg: #0e0e0f;
	--color-link: #826437;
	--color-link-hover: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: moderno-fb, "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
}

.demo-2 {
	font-family: Futura, "futura-pt", Arial, sans-serif;
}

.demo-2,
.demo-3 {
    --color-link: #fbc966;
}

.demo-4 {
    --color-link: #52e093;
}

#gl {
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: absolute;
}

canvas {
	display: block;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.message {
	background: var(--color-text);
	color: var(--color-bg);
	padding: 0.5rem;
	position: fixed;
	opacity: 0.8;
	top: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.frame > * {
	position: relative;
}

.frame__logo {
	width: 365px;
	height: 80px;;
}

.frame__title {
	font-size: 2.25rem;
	border: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	margin: 0;
	align-self: center;
	padding: 20px;
	pointer-events: none;
	text-transform: uppercase;
	/* font-family: essonnes-display, serif; */
	font-weight: bold;
}

.frame__tagline {
	display: none;
	margin: 0.5rem 0 2rem;
	align-self: center;
	padding: 20px;
}

.frame__links {
	font-size:18px;
	margin: 1rem 0;
}

.frame a {
	/* text-transform: lowercase; */
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.frame__content {
	line-height: 0.8;
	pointer-events: none;
	margin-top: 8vh;
	margin-bottom: 5vh;
	font-size: 40vw;
	font-family: essonnes-display, serif;
	mix-blend-mode: screen;
	font-weight: normal;
	text-align: center;
	color: #000;
}

.demo-2 .frame__content {
	font-size: 10vw;
	line-height: 15vw;
	opacity: 0.6;
	text-transform: uppercase;
	font-weight: bold;
	/* mix-blend-mode: soft-light; */
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	color: #fff;
	font-family: Futura, "futura-pt", Arial, sans-serif;
}




@media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: center;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem 3rem;
		pointer-events: none;
		grid-template-columns: 70% 30%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
							'content content'
							'clock clock';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		font-size: 2rem;
		white-space: nowrap;
		margin: 0;
	}
	.frame__tagline {
		margin: 0 0 0 1rem;
		padding: 0 0 0 1rem;
		opacity: 0.6;
		display: block;
	}
	.frame__github {
		grid-area: github;
		justify-self: start;
		margin: 0;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame__content {
		grid-area: content;
		margin: 0;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white;
	}
	.frame a {
		pointer-events: auto;
	}
}
