.dataTables_filter label{
    float:right;
}

td.details-control {
    background: url('../../../apple-touch-icon.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../../images/apple-touch-icon.png') no-repeat center center;
}