.dataTables_filter label{
    float:right;
}

div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

th, td { white-space: nowrap; }

td.details-control {
    background: url('../../../apple-touch-icon.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../../apple-touch-icon.png') no-repeat center center;
}