<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Bob Marley</p>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="index.html">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-briefcase"></i>
            <span>Products And Inventory</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="product.html"><i class="fa fa-circle-o"></i> Products</a></li>
            <li><a href="inventory.html"><i class="fa fa-circle-o"></i> Inventory List</a></li>
            <li><a href="serial.html"><i class="fa fa-circle-o"></i> Serial Numbers</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa  fa-share-alt"></i> <span>Partners</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="user.html"><i class="fa fa-circle-o"></i> Suppliers</a></li>
            <li><a href="supplier.html"><i class="fa fa-circle-o"></i> Suppliers</a></li>
            <li><a href="resource.html"><i class="fa fa-circle-o"></i> Resources</a></li>
            <li><a href="bin.html"><i class="fa fa-circle-o"></i> Bins</a></li>
            <li><a href="sale-channel.html"><i class="fa fa-circle-o"></i> Sales Channel</a></li>
            <li><a href="courier.html"><i class="fa fa-circle-o"></i> Couriers</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-arrows"></i>
            <span>Inbound Processing</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="purchase.html"><i class="fa fa-circle-o"></i> Purchase Orders</a></li>
            <li><a href="inbound.html"><i class="fa fa-circle-o"></i> Inbound Shipments</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-arrows-alt"></i>
            <span>Outbound Processing</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="sale-order.html"><i class="fa fa-circle-o"></i> Sales Orders</a></li>
            <li><a href="wave.html"><i class="fa fa-circle-o"></i> Waves</a></li>
            <li><a href="outbound.html"><i class="fa fa-circle-o"></i> Outbound Shipments</a></li>
          </ul>
        </li>
        <!-- <li><a href=""><i class="fa fa-gear"></i> <span>Settings</span></a></li>
        <li><a href=""><i class="fa fa-puzzle-piece"></i> <span>Integrations</span></a></li> -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>